@media screen and (max-width: 768px) {
    .header-left, .credit {
        left: -105%;
    }
    .navmenu-ico {
        left: 0;
    }
    .showhide-nav .header-left, .showhide-nav .credit {
        left: 0;
    }
    .showhide-nav .navmenu-ico {
        left: 250px;
    }
    .showhide-nav .navmenu-ico button:before {
        content: "\f060";
    }
    main, .navInfo {
        width: 100%;
    }
}
@media screen and (max-width: 680px) {
    .header-right .user-menu {
        width: 75px;
        justify-content: center;
        padding: 0;
    }
    .header-right .user-menu span {
        display: none;
    }
    .showhide-nav .header-right {
        display: none;
    }
    .submenu {
        left: -115px;
    }
    .submenu:before {
        left: 140px;
    }
    .breadcrumb {
        visibility: hidden;
    }
}
@media screen and (max-width: 420px) {
    body {
        background-color: #fffbec;
    }
}
@media screen and (max-width: 320px) {
    .navmenu-ico {
        background-color: #fff;
        z-index: 1;
    }
    .header-left {
        z-index: 2;
    }
}